* ::after ::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
/* *{
    outline: 1px solid red;
} */

@import url(https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Inter:wght@400;500;600&display=swap);
html{
    font-size: 62.5%;
}

:root {
    --primary: hsl(170, 80%, 49%);
    --bg-color: hsl(200, 27%, 2%);
    --text-color: hsl(165, 6%, 60%);
    --white-color: hsl(180, 6%, 97%);
    --links-color: hsl(162, 5%, 60%);
    --title-color: linear-gradient(269deg, #000 -20.82%, rgba(255, 255, 255, .5) -8.23%, #fff 24.62%, #fff 85.49%, rgba(255, 255, 255, .5) 114.13%, #000 124.08%);
    --box-shadow: rgba(14, 201, 189, 0.3) 0px 8px 24px 0px,
        rgba(0, 0, 0, 0.15) 0px 4px 4px 0px,
        rgba(28, 233, 194, 0.3) 0px -8px 24px 0px,
        rgba(0, 0, 0, 0.12) 0px -4px 12px 0px,
        rgba(28, 233, 194, 0.4) 8px 8px 12px 0px inset,
        rgba(14, 201, 189, 0.4) -8px -8px 12px 0px inset,
        rgba(255, 255, 255, 0.4) 0px 0px 8px 0px inset;
    --grid-background: linear-gradient(180deg,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 100%),radial-gradient(12.07% 16% at 100% 35.71%,rgba(39,233,247,.2) 0,rgba(39,233,247,0) 100%),radial-gradient(19.05% 26% at 100% 35.71%,rgba(39,247,164,.15) 0,rgba(39,247,164,0) 100%),linear-gradient(209deg,#2e3836 4.93%,#171c1b 82.74%);
    --sub-tittle-bg: radial-gradient(28.57% 28.57% at 50% 100%,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%),linear-gradient(0deg,rgba(14,201,189,.6) -26.79%,rgba(14,201,189,0) 32.14%),linear-gradient(133deg,rgba(28,233,194,.4) -3.66%,rgba(28,233,194,0) 35.71%);
    --sub-tittle-shadow: 0 4px 10px -2px rgba(39,228,228,.3),0 2px 10px 0 rgba(0,0,0,.1),0 -2px 4px -2px rgba(14,254,67,.2),0 -10px 20px 0 rgba(0,0,0,.5);

    /* Radius */
    --radius: 1rem;
    --pill: 999rem;

    /* Typography */
    --h1: clamp(3.2rem, 3.571vw + 2.057rem, 7.2rem);
    --h2: clamp(2.8rem, 2.5vw + 2rem, 5.6rem);
    --h3: clamp(2.2rem, 1.964vw + 1.571rem, 4.4rem);

    --s-body: 1.7rem;

    /* Width */
    --site-width: min(1440px, 100%);

    /* section padding */
   --sec-pad: clamp(4rem, 7.143vw + 1.714rem, 12rem);
}

body {
    font-family: Inter, sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);

}
/* Start of header stylings */
header{
 position: fixed;
 top: 2rem;
 width: 100%;

   & .header{
     display: flex;
     width: var(--site-width);
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
     padding: 0;
  }
}
.logo{
    display: flex;
    align-items:center;

    & .logo-image{
        width: 8rem;
        height: auto;
     }

    & .logo-label{
        width: 15.6rem;
        height: 2.4rem;
        margin-top: .4em;
        margin-left: -.8em;
}
   }
ul{
    display: flex;
    flex-direction: row;
    gap: 4rem;

      a{
    text-decoration: none;
    color: var(--links-color);
    font-size: var(--s-body);

         &:hover{
            color: var(--white-color);
            transition: 0.5s ease;
        }
     }
}
/* Start of Email link styling */
a.email-cta{
    color: var(--primary);
    line-height: 1;
    position: relative;

      &:hover{
            color: var(--primary);
            transition: 0.5s ease;
        }
}
.email-cta::before {
    content: '';
    width: 0;
    height: 1px;
    border-radius: 2px;
    background-color: hsl(170, 80%, 49%);
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}
.email-cta:hover::before {
    width: 100%;
    left: 0;
}  /* End of Email link styling */

/* End of header */

/* Start of Hero section */
section.hero{
    background-image:  url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;

    & .hero-container{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: end;
   }
}
.hero-content{
    width: min(50%, 1440px / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;

      & h1{
           font-size: var(--h1);
           color: var(--white-color);
           letter-spacing: -0.025em;
           line-height: 1.2;
    }
      & p{
           font-size: 2.2rem;
           font-weight: 400;
           line-height: 1.5;
           margin-top: 1.6rem;
           margin-bottom: 4rem;
           width: 80%;
       }
}
.hero-video{
    width: 50%;
    align-items: center;

     & video{
         width: 100%;
         height: 100%;
         object-fit: cover;
         vertical-align: middle;
   }
} /* End of Hero section */

/* Parters Section */
h3{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Inter, san serif;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}
.partners{
    width: var(--site-width);
    display: flex;
    justify-content: space-between;
    align-items: center;

      & .partners-logos:not(:last-child){
        border-right: 1px solid #49504e;
        padding-right: 10rem;
      }
}  /* End of Parters Section */

/* Start of why us Section */
.whyus-grid{
    width: var(--site-width);
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(2, 1fr);

    & .features{
       border-radius: 1.6rem;
       padding: 1px;
       background: var(--grid-background);
     }
     & .grid-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
     }
      & .grid-2{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
     }
     & .grid-3{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
         background: var(--grid-background);
     }
     & .grid-4{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
     }
}
.grid-3 .content{
    background: linear-gradient(202deg,#171c1c -5.2%,#040607 70.12%);
    border-radius: 1.6rem;
     border: 6px solid #000;
    position: relative;
    height:100%;
    display: flex;
    justify-content: end;

      & img{
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 30px;

      }
}
.content:is(:not(.grid--3)){
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 6px solid #000;
        border-radius: inherit;
        background: linear-gradient(202deg,#171c1c -5.2%,#040607 70.12%);
        overflow: hidden;
        height: 100%
     }
.features-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1 1 auto;
    gap:1.6rem;
    padding: 2.8rem 2.2rem;

     & h4{
        font-size: 2.8rem;
        color: var(--white-color);
    }
    & p{
        font-size: var(--s-body);
    }
}
.features-image{
    display: flex;
    align-items: end;
    justify-content: end;
}   /* End of why us Section */

/* Services Section Start */
.services{
    position: relative;
}
.service-heading{
    width: var(--site-width);
    height: 600px;
    background-image: url(../assets/bg-asset.svg);
    background-repeat: no-repeat;
    background-position: top center;
    justify-content: center;
    z-index: -2;
}
.service-content h2{
font-size: var(--h3);
}
p {
    margin-right: 100px;
    margin-block: 1.6rem;
}

picture{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;

      & img{
        width: 50px;
      }
}
.shadow-effect{
position: absolute;
width: 100%;
height: 150%;
bottom: 0;
right: 0;

   & img{
    max-width: 100%;
    height: auto;
    position: relative;
    left: 30%;
    object-fit: contain;
    z-index: -1;
   }
 }

.branding-image{
    width: 800px;
    height: auto;
} /* Services Section End */