section{
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
.sec-padding{
        padding-block: clamp(4rem, 7.143vw + 1.714rem, 12rem);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    max-width: var(--site-width);
    align-items: center;
    position: relative;
    /* border: 1px solid orange; */

}
h1, h2, h3, h4, h5, h6{
    font-family: "DM sans", sans-serif;
    width: var(--site-width);
    letter-spacing: -0.025em;
}

button {
    padding: 1em 3.2em;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--white-color);
    border-radius: 999px;
    border: none;
    background-color: transparent;
}

button.primary {
    box-shadow: var(--box-shadow);
    margin-right: 12px;
}
button.outline {
    border: 1px solid var(--white-color);
    padding-block: 0.8em;
}

.heading{
    display: inline-block;
    background: linear-gradient(270deg,#000 -10.84%,rgba(255,255,255,.5) .04%,#fff 18.55%,#fff 76.71%,rgba(255,255,255,.5) 102.05%,#000 111.85%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title{
    display: inline;
    text-transform: uppercase;
    border-radius: var(--pill);
    color: var(--primary);
    line-height: 1.1;
    padding: .4em 3.2rem;
    background-image: var(--sub-tittle-bg);
    box-shadow: var(--sub-tittle-shadow);
   }

   .heading-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.4rem;

     & .sub-title{
    display: inline;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: var(--pill);
    color: var(--primary);
    line-height: 1.1;
    padding: .4em 3.2rem;
    background-image: var(--sub-tittle-bg);
    box-shadow: var(--sub-tittle-shadow);
   }
   & .heading{
    font-size: var(--h2);
    text-align: center;
    margin-bottom: .8rem;
   }
   & p {
    text-align: center;
   }
}
